#projects {
  margin-block: 7.2rem 14.4rem;
  justify-self: center;

  #grid {
    gap: 2.4rem;

    article {
      background-color: var(--gray-300);
      max-width: 33rem;
      padding: 1.2rem;
      text-align: start;
      img {
        object-fit: cover;
        width: 100%;
      }
      h3 {
        margin-block: 2.4rem 0.8rem;
      }
    }
  }
}

#myservices {
  background-color: var(--gray-100);
  justify-content: center;
  padding-block: 8.8rem 12rem;

  #cards {
    gap: 2.4rem;
    text-align: start;
    div {
      border: 2px solid var(--gray-200);
      padding: 2rem;

      h3 {
        margin-block: 2rem 0.8rem;
      }
    }
  }
}

#contacts {
    background: url(../assets/images/Background_Contacts.png) no-repeat center top /
    cover;
  padding-block: 12.8rem 20rem;

  span {
    color: var(--purple);
  }

  h3 {
    margin-block: 0.8rem;
  }

  #links {
    justify-content: center;
    margin-top: 4.8rem;

    a {
      background: var(--gray-300)
        url(../assets/icons/socialbutton/ArrowUpRight.svg) no-repeat right 2rem
        center;
      border-radius: 0.8rem;
      padding: 2rem;
      text-align: start;
      width: 40rem;

      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    a:hover {
      color: var(--blue);
    }

    & a:nth-child(1):hover > img {
      content: url(../assets/icons/socialbutton/LinkdinLogoHover.svg);
    }

    & a:nth-child(2):hover > img {
      content: url(../assets/icons/socialbutton/instagramLogoHover.svg);
    }

    & a:nth-child(3):hover > img {
      content: url(../assets/icons/socialbutton/GitHubLogoHover.svg);
    }

    & a:nth-child(4):hover > img {
      content: url(../assets/icons/socialbutton/envelopeLogoHover.svg);
    }
  }
}
